#root {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
}

.title {
	border-bottom: 2px solid #3f72af;
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
	color: #3f72af;
}

.joke-container {
	background-color: #f9f7f7;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.joke {
	font-size: 18px;
	margin: 0;
	line-height: 1.5;
	color: #112d4e;
}
